@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
 

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 30px;
}
.navbar span{
    font-size: xx-large;
    font-weight: 600;
}
.navbar p{
    padding: 10px 25px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
            rgb(206, 144, 58),
            rgb(255, 85, 0));
    transition: all 0.5s ease-in-out;
}
.navbar p:hover{
    background-image: linear-gradient(to right,
    rgb(179, 124, 48),
    rgb(207, 69, 0));
}

.dash{
    display: flex;
}

#sidebar{
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 12%;
    position: fixed;
}
.dashboard{
    margin: 10px 0;
    border: 1px solid #f1e5e5;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}
.addhotels{
    margin: 10px 0;
    border: 1px solid #ebe1e1;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}


.hotelInfo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px 0;
    position: fixed;
    left: 12%;
    width: 88%;
}

.span1div{
    background-image: linear-gradient(to right,
    rgb(110, 116, 194),
    rgb(88, 86, 190));
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.span1div *{
    font-size: 30px;
    font-weight: 600;
}

.span2div{
    background-image: linear-gradient(to right,
    rgba(0, 216, 65, 0.863),
    rgba(0, 216, 65, 0.863));
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.span2div *{
    font-size: 30px;
    font-weight: 600;
}

.span3div{
    background-image: linear-gradient(to right,
    rgba(235, 86, 0, 0.863),
    rgba(233, 93, 0, 0.863));
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.span3div *{
    font-size: 30px;
    font-weight: 600;
}

.span4div{
    background-image: linear-gradient(to right,
    rgba(235, 0, 0, 0.863),
    rgba(233, 35, 0, 0.863));
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.span4div *{
    font-size: 30px;
    font-weight: 600;
}

